modules = ["java-graalvm22.3"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Java App"

[[workflows.workflow]]
name = "Java App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew run --quiet --console=plain"

[workflows.workflow.metadata]
outputType = "console"
